# Welcome to your first clue and challenge! 

Write code to add the following numbers together. 33 , 943 , 11 , 10055 , 43243 , 156 , 11

In [1]:
# example below, to add 5 and 6 together.
5 + 6

11

In [ ]:
# TO RUN CODE SIMPLY click the play button on the lefthand side of the block
# try running this cell to see how it works!

4+8

Once you have your answer take your answer and plug it into the following code to get your next challenge!